.container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
  width: 100%;
  z-index: -1;
}

.div__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
