.container__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 0 1em 1em 1em;
  top: 10vh;
  left: 0;
  width: 100%;
}

.about__title {
  font-size: 3em;
  text-align: center;
}

.p__about--collapsep {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  padding: 0 1.5em 0 90px;
  font-size: 20px;
  text-align: justify;
}

.p__about--expanded {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  padding: 0 1.5em 0 280px;
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 900px) {
  .p__about--collapsep {
    padding: 0;
  }

  .p__about--expanded {
    padding: 0;
  }
}
