.container {
  width: 78%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10vh;
  left: 260px;
}

.div__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
