.div__container--home {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 0;
  gap: 1em;
}

.title_expanded--home,
.falling__h3--expanded,
.section__cv,
.section__contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
  padding: 0 1em 0 270px;
}

.title_expanded--home {
  font-size: 3.7em;
}

.falling__h3--expanded {
  font-size: 4.5em;
}

.title_collapsed--home,
.falling__h3--collapsed,
.section__cv,
.section__contact {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  padding: 0 1em 0 100px;
}

.title_collapsed--home {
  font-size: 4.2em;
}

.falling__h3--collapsed {
  font-size: 5em;
}

.section__contact {
  width: 100%;
  display: flex;
  gap: 2em;
}

.bxl-linkedin-square,
.bxl-github {
  color: white;
  font-size: 4.5em;
  cursor: pointer;
}

.btn__cv {
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.3em;
  border: none;
  box-shadow: -2px -2px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: var(--text-tittle);
  background-color: var(--background-secundary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn__cv:hover {
  transform: scale(1.1);
  box-shadow: -4px -4px 8px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .title_expanded--home,
  .falling__h3--expanded,
  .section__cv,
  .section__contact {
    text-align: center;
    padding: 0 1em;
  }

  .title_expanded--home,
  .falling__h3--expanded {
    font-size: 3em;
  }

  .title_collapsed--home,
  .falling__h3--collapsed,
  .section__cv,
  .section__contact {
    text-align: center;
    padding: 0 1em;
  }

  .title_collapsed--home,
  .falling__h3--collapsed {
    font-size: 3em;
  }
}

@media (max-width: 700px) {
  .title_expanded--home,
  .falling__h3--expanded,
  .section__cv,
  .section__contact {
    text-align: center;
    padding: 0 1em;
  }

  .title_expanded--home,
  .falling__h3--expanded {
    font-size: 2.5em;
  }

  .title_collapsed--home,
  .falling__h3--collapsed,
  .section__cv,
  .section__contact {
    text-align: center;
    padding: 0 1em;
  }

  .title_expanded--home,
  .falling__h3--collapsed {
    font-size: 2.5em;
  }
}
