.div__container--home--expanded {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 270px;
  gap: 2em;
  padding: 1em;
}

.div__container--home {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  left: 90px;
  gap: 2em;
}

.title_expanded--home,
.falling__h3--expanded {
  width: 100%;
  text-align: center;
}

.section__cv,
.section__contact {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title_expanded--home {
  font-size: 3.5em;
}

.falling__h3--expanded {
  font-size: 4em;
}

.title_collapsed--home,
.falling__h3--collapsed {
  width: 100%;
  text-align: center;
}

.title_collapsed--home {
  font-size: 4em;
}

.falling__h3--collapsed {
  font-size: 4em;
}

.section__cv,
.section__contact {
  width: 100%;
  display: flex;
  gap: 2em;
}

.bxl-linkedin-square,
.bxl-github,
.bxl-whatsapp {
  color: inherit;
  font-size: 4.5em;
  cursor: pointer;
  border-radius: 0.2em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bxl-linkedin-square:hover,
.bxl-github:hover,
.bxl-whatsapp:hover {
  transform: scale(1.1);
  box-shadow: -4px -4px 8px 8px rgba(0, 0, 0, 0.5);
}

.btn__cv {
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.3em;
  border: none;
  box-shadow: -2px -2px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn__cv:hover {
  transform: scale(1.1);
  box-shadow: -4px -4px 8px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .div__container--home--expanded {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10vh;
    left: 0px;
  }

  .div__container--home {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10vh;
    left: 0px;
  }
  .title_expanded--home,
  .falling__h3--expanded {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0 1em;
  }

  .title_expanded--home,
  .falling__h3--expanded {
    font-size: 3em;
  }

  .title_collapsed--home,
  .falling__h3--collapsed {
    text-align: center;
    padding: 0 1em;
  }

  .title_collapsed--home,
  .falling__h3--collapsed {
    font-size: 3em;
  }
}

@media (max-width: 700px) {
  .div__container--home--expanded {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 0px;
  }

  .div__container--home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 0px;
  }
  .title_expanded--home,
  .falling__h3--expanded {
    text-align: center;
    padding: 0 1em;
  }

  .title_expanded--home,
  .falling__h3--expanded {
    font-size: 2em;
  }

  .title_collapsed--home,
  .falling__h3--collapsed {
    text-align: center;
    padding: 0 1em;
  }

  .title_expanded--home,
  .falling__h3--collapsed {
    font-size: 2em;
  }
}
