.div__container--home {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3em;
}

.title_expanded--home,
.falling__h3--expanded {
  width: 100;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 3.7em;
  padding: 0 1em 0 270px;
}

.falling__h3--expanded {
  font-size: 4.5em;
}

.title_collapsed--home,
.falling__h3--collapsed {
  width: 100;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 4em;
  padding: 0 1em 0 100px;
}

.falling__h3--collapsed {
  font-size: 5em;
}

@media (max-width: 900px) {
  .title_expanded--home,
  .falling__h3--expanded {
    font-size: 3em;
    text-align: center;
    padding: 0 1em;
  }

  .title_collapsed--home,
  .falling__h3--collapsed {
    text-align: center;
    font-size: 3em;
    padding: 0 1em;
  }
}
