.container__menu {
  max-width: 250px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  background-color: inherit;
  box-shadow: -2px -2px 4px 4px rgba(0, 0, 0, 0.2);
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.icon__menu {
  color: inherit;
  font-size: 25px;
  cursor: pointer;
}

.menu__name {
  padding-top: 1em;
  font-size: 0.9em;
  font-weight: var(--font-weight-medium-bold);
  margin-bottom: 3px;
}

.menu__p {
  font-size: 0.8em;
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin-bottom: 0.6rem;
}

.collapsed {
  width: 80px;
}

.expanded {
  width: 250px;
}

.div__collapsed {
  width: 3em;
  height: 3em;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 50%;
}

.menu__collapsed--p {
  font-size: 2.5em;
  color: inherit;
  animation: growRotateMenu 2s infinite alternate ease;
}

.div__expanded--p {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu__expanded--p {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: inherit;
}

@media (max-width: 900px) {
  .container__menu {
    display: none;
  }
}
