.proyect__containe--expanded {
  width: 78%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10vh;
  left: 260px;
}

.proyect__containe--collapsed {
  width: 92%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10vh;
  left: 90px;
}

.section__experience--projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.experience,
.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  position: relative;
}

.title__experience,
.title__projects {
  font-size: 2em;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.bx-chevrons-left,
.bx-chevrons-right {
  font-size: 2.5em;
  color: inherit;
  cursor: pointer;
}

.img__experience,
.img__project {
  width: 250px;
  height: 200px;
  border-radius: 0.3em;
  padding: 0.5em;
  box-shadow: -2px -2px 4px 4px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img__experience:hover,
.img__project:hover {
  transform: scale(1.1);
  box-shadow: -4px -4px 8px 8px rgba(0, 0, 0, 0.5);
}

.btn__experience,
.btn__projects {
  width: 100px;
  height: 40px;
  font-size: 0.8em;
  color: inherit;
  background-color: inherit;
  border-radius: 0.4em;
  box-shadow: -2px -2px 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-description {
  width: 70%;
  justify-content: center;
  text-align: justify;
  font-size: 16px;
}

.btn__experience:hover,
.btn__projects:hover {
  transform: scale(1.1);
  box-shadow: -4px -4px 8px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .proyect__containe--expanded {
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0;
    padding: 1em;
  }
  .proyect__containe--collapsed {
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0;
    padding: 1em;
  }
  .section__experience--projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .carrusel {
    gap: 0.5em;
  }

  .img__experience {
    width: 200px;
    height: 200px;
  }
}
