.container__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: -1;
  padding-bottom: 1.5em;
}

.icon--skills {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0 1em 0 270px;
}

.icon--skills--collapsed {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0 1em 0 90px;
}

.bxl-vuejs {
  color: #41b883;
  font-size: 12em;
}

.vue {
  color: #41b883;
  font-size: 1.5em;
  text-align: center;
}

.bxl-react {
  color: #61dbfb;
  font-size: 12em;
}

.react {
  color: #61dbfb;
  font-size: 1.5em;
  text-align: center;
}

.bxl-html5 {
  font-size: 12em;
  background: linear-gradient(90deg, #e34c26, #f06529, #b7b7b7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.html5 {
  font-size: 1.5em;
  color: #f06529;
  text-align: center;
}

.bxl-css3 {
  font-size: 12em;
  background: linear-gradient(90deg, #264de4, #2965f1, #b7b7b7, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.css3 {
  color: #2965f1;
  font-size: 1.5em;
  text-align: center;
}

.bxl-javascript {
  color: #f0db4f;
  font-size: 12em;

  border-radius: 0.2em;
}

.javascript {
  color: #f0db4f;
  font-size: 1.5em;
  text-align: center;
}

.bxl-nodejs {
  font-size: 12em;
  background: linear-gradient(90deg, #303030, #68a063, #3c873a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.node {
  color: #68a063;
  font-size: 1.5em;
  text-align: center;
}

.bxl-typescript {
  font-size: 12em;
  background: linear-gradient(90deg, #007acc, #b7b7b7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.typescript {
  color: #007acc;
  font-size: 1.5em;
  text-align: center;
}

.bxl-postgresql {
  font-size: 12em;
  background: linear-gradient(90deg, #0064a5, #336791, #008bb9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.postgres {
  color: #336791;
  font-size: 1.5em;
  text-align: center;
}

@media (max-width: 700px) {
  .icon--skills {
    padding: 0;
  }

  .icon--skills--collapsed {
    padding: 0;
  }
}
