.container__menu--dispositivo,
.itemsCollapsed__menu {
  display: none;
}

@media (max-width: 900px) {
  .container__menu--dispositivo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 0.2em 1em;
  }

  .bx-menu {
    font-size: 2em;
    cursor: pointer;
    color: white;
  }

  .menuNone {
    display: none;
  }

  .menu,
  .itemsCollapsed__menu {
    display: flex;
    flex-direction: column;
    column-gap: 0.5em;
    position: absolute;
    top: 2px;
    right: 25px;
    z-index: 1;
  }

  .itemsCollapsed__menu--li {
    display: flex;
    align-items: center;
    min-width: 120px;
    height: 1.5em;
    background-color: rgb(128, 128, 128);
    margin-top: 5px;
    padding: 0.5em;
  }

  .items__menu-collapsed {
    display: flex;
    gap: 1em;
    padding: 0.2em;
  }

  a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
  }
}
