@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lobster&family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-tittle: #f7f9f9;
  --background-prymary: #283747;
  --background-secundary: #34495e3f;
  --background-light: #e5e5e5e9;
  --text-tittle-light: #464646;
  --font-secundary: "Lobster", sans-serif;
  --font-primary: "Montserrat", sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium-bold: 600;
  --font-weight-medium: 500;
  --font-weight-p: 300;
}

body[data-theme="light"] {
  min-width: 320px;
  font-family: var(--font-primary);
  background-color: var(--background-light);
  color: var(--text-tittle-light);
}

body[data-theme="dark"] {
  min-width: 320px;
  font-family: var(--font-primary);
  background-color: var(--background-prymary);
  color: var(--text-tittle);
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
}

h1 {
  font-weight: var(--font-weight-bold);
  color: inherit;
}

h2 {
  font-weight: var(--font-weight-medium-bold);
  color: inherit;
}

h3,
label {
  font-weight: var(--font-weight-medium);
  color: inherit;
}

p {
  font-weight: var(--font-weight-p);
  color: inherit;
}

ul {
  list-style: none;
  color: inherit;
}

li {
  font-weight: var(--font-weight-medium);
  color: inherit;
}

a {
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: inherit;
}

.bx-home,
.bx-user,
.bx-code,
.bx-file,
.bxs-phone-call,
.bx-cog {
  color: inherit;
}
